*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/app/build
/ios/build
/ios/.build
/ios/SyposMobile.xcodeproj/project.xcworkspace
/ios/SyposMobile.xcodeproj/xcuserdata
*.apk
*.ipa
captures/
.externalNativeBuild
.cxx
